<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BitMiracle.LibTiff.NET" version="2.3.642.0" targetFramework="net452" />
  <package id="Dragablz" version="0.0.3.197" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net452" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net452" />
  <package id="PDFSharp.Extensions" version="0.1.2.2" targetFramework="net452" />
  <package id="PDFsharp-MigraDoc-WPF" version="1.32.2608.0" targetFramework="net452" />
</packages>